---
import latar1 from "../assets/img/latar-img1.png"
import latar2 from "../assets/img/latar-img2.png"
import latar3 from "../assets/img/latar-img3.png"
import latar4 from "../assets/img/latar-img4.png"
---
 <!-- Latar Belakang & Kronologi: RAKA -->
  <!-- Latar Belakang -->
  <section id="latar-belakang" class="px-16">
    <div class="main-latar">
      <h1 class="mori-heading">Akar Perubahan: Krisis dan
        Ketidakadilan yang Menyulut Reformasi</h1>
      <div class="img-container">
        <img class="img-container_img-nya-01" src={latar2.src} alt="">
        <img class="img-container_img-nya-02" src={latar1.src} alt="">
        <img class="img-container_img-nya-03" src={latar3.src} alt="">
      </div>
      <!--  -->
      <div class="lb-paragraf">
        <p class="mori-heading">Menjelang akhir dekade 1990-an, Indonesia
          menghadapi masa paling kelam dalam sejarah modernnya. Krisis moneter yang melanda Asia pada tahun
          1997 menghantam perekonomian nasional dengan keras. Nilai rupiah anjlok drastis, harga kebutuhan
          pokok melonjak, dan jutaan orang kehilangan pekerjaan.</p>
        <span class="mori-heading">Latar belakang</span>
      </div>
      <div class="lb-paragraf2">
        <img src={latar4.src} alt="">
        <div class="paragraf2-wrapper">
          <p class="mori-heading">Di tengah krisis ekonomi yang mencekik, rakyat mulai
            mempertanyakan arah kepemimpinan Orde Baru yang telah berkuasa selama lebih dari tiga dekade.
            Korupsi, kolusi, dan nepotisme merajalela, sementara kebebasan berpendapat dibungkam.</p>
          <p class="mori-heading">Mahasiswa dari berbagai universitas di seluruh
            Indonesia mulai turun ke jalan, menuntut reformasi total terhadap sistem pemerintahan. Mereka
            menyuarakan perubahan — bukan sekadar mengganti pemimpin, tetapi membangun tatanan yang lebih
            adil, transparan, dan demokratis.</p>
        </div>
      </div>
    </div>
  </section>