<section id="hero">
  <div class="heading-hero">
    <h1 class="arges-heading" style="padding: 0; margin: 0" data-aos="fade-right">Suara Perubahan dari Jalanan:</h1>
    <h1 class="arges-heading" style="padding: 0; margin: 0" data-aos="fade-left">MengenangReformasi 1998</h1>
    <div class="button-container">
      <button id="button_jelajah" class="hero-btn">Jelajahi</button>
    </div>
  </div>
</section>
