<button id="trigger-music" class="hero-btn">
  <img style="width: 24px;" src="./assets/icon/music-icon.png" alt="" />
</button>

<nav class="navbar font_poppins">
  <ul>
    <li>
      <a href="#hero"> Beranda </a>
    </li>
    <li>
      <a href="#latar-belakang"> Latar Belakang </a>
    </li>
    <li>
      <a href="#time_line"> Kronologi </a>
    </li>
    <li>
      <a href="#tokoh"> Tokoh </a>
    </li>
  </ul>
</nav>
